table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    font-family: FontAwesome;
    content: " \f106\f107"
}
tr.clickable {
    cursor: pointer;
}
