{% extends "gespai/base.html" %} {% block content %}
<div class="container">
    {% if becario %} {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="content-section">
        <h1 class="page-header">Datos del Becario</h1>
        <p><strong>Nombre: </strong>{{ becario }}</p>
        <p><strong>Correo electrónico: </strong>{{ becario.email }}</p>
        <p><strong>Estado: </strong>{{ becario.get_estado_display }}</p>
        <p><strong>Plaza asignada: </strong>{% if becario.plaza_asignada %}{{ becario.plaza_asignada }}{% else %}Sin plaza{% endif %}</p>
    </div>
    <div class="content-section">
        <h1 class="page-header">Solicitación de cambio</h1>
        <form action="" method="post">
            {% csrf_token %} {% for field in form %}
            <div class="form-group">
                {{ field.errors }} {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <p><input type="submit" value="Solicitar cambio" class="btn btn-primary" /></p>
        </form>
    </div>
    {% else %}
    <p>No se encuentra un becario con el orden especificado.</p>
    {% endif %}
</div>
{% endblock content %}
